body{
    background-color: #D3D3D3;
    margin: 0;
}

.tempDiv{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    box-sizing : border-box;
}
.dimmed::before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);    
}
.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 30% 35% 5%;
    padding: 20px;
    box-sizing : border-box;
}
.minicontainer{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-template-columns: 100%;
    grid-template-rows: 1400px 120px;
}
.menuIMG{
    margin-left: 10%;
    width: 80%;
    height : auto;
}
.item{
    background-color: white;
    border-radius: 10px;
    margin : 20px;
    font-family: 'Nanum Gothic', sans-serif;
}
h5{
    margin-top: 0;
    text-align: center;
}
.right{
    font-family: 'Nanum Gothic', sans-serif;
}
.topBtn{
    background-color: white;
    font-family: 'Nanum Gothic', sans-serif;
    border: none;
    padding: 5px 10px;
    border-radius: 10%;
    float: right;
    margin: 1.5em 0.5em auto;
}
.modalBtn{
    background-color: #FFEA00;
    color: black;
    border: none;
    border-radius:  10%;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 5%;
    margin: 1em;
    width: 30%;
    display: inline-block;
}
.helpButton{
    /* left: 100rem; */
    background-color: white;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    float: right;
    border: 10px;
    padding: 10px 15px;
    border-radius: 50%;
    margin: 5px 5px 5px 5px;
}
#showDB{
    position: relative;
    color: transparent;
    /* 원래는 보이지 않는 버튼임. 모두 작업 후 아래 코드 적용 */
    /* background-color: transparent; */
    border: none;
}
#menuResults{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    border-radius: 10px;
}
#priceResult{
    text-align: center;
    font-size: 200%;
    font-family: 'Nanum Gothic', sans-serif;  
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    height: 145px;
    width: 90%;
}
#paymentButton{
    background-color: #FFEA00;
    font-family: 'Nanum Gothic', sans-serif;  
    font-size: 200%;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 145px;
    width: 90%;
    border: 0;
}
#cancleButton{
    background-color: #FFEA00;
    font-family: 'Nanum Gothic', sans-serif; 
    font-size: 200%; 
    margin-top: 10px;
    border-radius: 10px;
    height: 100px;
    border: 0;
}
.popup {
    z-index: 1;
    position: absolute;
    font-family: 'Nanum Gothic', sans-serif; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 320px;
    max-width: 600px;
    background-color: #D3D3D3;
    border-radius: 15px;
    box-shadow: 0 2px 55px -25px rgb(0 0 0 / 100%);
}
.popup > .title{
    border-radius: 15px 15px 0 0;
    min-height: 40px;
    color: #000;
    background-color: #FFEA00;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: bold;
}
.popup > .content {
    padding: 20px;
    box-sizing: border-box;
}
.popup > .cmd {
    bottom: 0;
    min-height: 40px;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    min-height: 40px;
    text-align: right;
}
.popup > .popupMenu {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}
.popup > #finalPaymentButton{
    background-color: #FFEA00;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    margin-left: 25%;
    margin-bottom: 10px;
}
.popup > #resetButton{
    background-color: #FFEA00;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    margin-left: 25%;
    margin-bottom: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalDB {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.info {
    position: relative;
    display: none;
    z-index: 1;
    left: 5%;
    top: 5%;
    background-color: white;
    color: black;
    width: 80%; 
    height: 50%;
    overflow: auto;
    padding:auto; 
}
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #FFEA00;
    color: black;
    text-align: center;
  }
  
  .modal-body {
    padding: 2px 16px;
    text-align: center;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #FFEA00;
    color: black;
    text-align: center;
  }