body{
    background-color: #D3D3D3;
    margin: 0;
}
.tempDiv{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    box-sizing : border-box;
}
.dimmed::before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);    
}
.container{
    
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 40%;
    padding: 20px;
    box-sizing : border-box;
}
.minicontainer{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-template-columns: 100px;
    grid-template-rows: 1400px 120px;
}
.menuIMG{
    margin-left: 10%;
    width: 80%;
    height : 80%;
}
.item{
    background-color: white;
    border-radius: 10px;
    margin : 20px;
    font-family: 'Nanum Gothic', sans-serif;  
}
h5{
    margin-top: 0;
    text-align: center;
}
#menuResults{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    border-radius: 10px;
}
#priceResult{
    text-align: center;
    font-size: 200%;
    font-family: 'Nanum Gothic', sans-serif;  
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    height: 145px;
    width: 90%;
}
#paymentButton{
    background-color: #FFEA00;
    font-family: 'Nanum Gothic', sans-serif;  
    font-size: 200%;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: 145px;
    width: 90%;
    border: 0;
}
.popup {
    z-index: 1;
    position: absolute;
    font-family: 'Nanum Gothic', sans-serif; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 320px;
    max-width: 600px;
    background-color: #D3D3D3;
    border-radius: 15px;
    box-shadow: 0 2px 55px -25px rgb(0 0 0 / 100%);
}
.popup > .title{
    border-radius: 15px 15px 0 0;
    min-height: 40px;
    color: #000;
    background-color: #FFEA00;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: bold;
}
.popup > .content {
    padding: 20px;
    box-sizing: border-box;
}
.popup > .cmd {
    bottom: 0;
    min-height: 40px;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    min-height: 40px;
    text-align: right;
}
.popup > .popupMenu {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
}
.popup > #finalPaymentButton{
    background-color: #FFEA00;
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    margin-left: 25%;
    margin-bottom: 10px;
}